/************** BUTTON **************/
.btn, .btn-blue, .btn-red, .btn-green, .btn-lg {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #959DA6;
  border-radius: 5px;
  color: #333333;
  text-decoration: none;
  background-color: #FFF; }
  .btn:focus, .btn-blue:focus, .btn-red:focus, .btn-green:focus, .btn-lg:focus {
    outline: thin dotted;
    outline: 5px auto;
    outline-offset: -2px; }
  .btn:hover, .btn-blue:hover, .btn-red:hover, .btn-green:hover, .btn-lg:hover {
    background-color: #F3EEEE; }

.btn-blue {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd; }
  .btn-blue:hover {
    background-color: #2F6CB2; }

.btn-red {
  color: #ffffff;
  background-color: #E93636;
  border-color: #CB2222; }
  .btn-red:hover {
    background-color: #EC1414; }

.btn-green {
  color: #ffffff;
  background-color: #449d44;
  border-color: #3c763d; }
  .btn-green:hover {
    background-color: #398439; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

/************** ALERT **************/
.alert, .alert-success, .alert-info, .alert-warning, .alert-danger {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

/************** HEADER **************/
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee; }

/************** JUMBOTRON **************/
.jumbotron {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #eeeeee; }

p {
  padding-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 10px; }

small, .sub {
  color: gray;
  font-size: 50%; }

ins {
  text-decoration: underline;
  font-style: italic; }

mark {
  background-color: yellow;
  font-style: italic;
  font-weight: bold; }

abbr {
  border-bottom: 1px dotted;
  cursor: help; }

del {
  text-decoration: line-through; }

u {
  text-decoration: underline; }

strong {
  font-style: bold; }

/*# sourceMappingURL=import.css.map */
