body {
  margin-top: 30px;
  font-family: arial, sans-serif;
  background-color: grey; }
  body .content {
    background-color: #FFFFFF;
    max-width: 70%;
    margin: auto;
    border: solid 2px grey;
    border-radius: 5px;
    padding: 20px; }
  body .page-headerM {
    padding-bottom: 10px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eeeeee; }
    body .page-headerM > h2 {
      font-size: 1.5em;
      color: blue; }
  body .example {
    font-weight: bold;
    color: grey; }
  body .code {
    width: 100%;
    border: 1px solid #eeeeee;
    background-color: #C1D1E9; }

/*# sourceMappingURL=styleFramework.css.map */
