
/************** BUTTON **************/

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid #959DA6;
	border-radius: 5px;
	color: #333333;
  	text-decoration: none;
  	background-color: #FFF;

	&:focus {
		outline: thin dotted;
	    outline: 5px auto;
	    outline-offset: -2px;
	}

	&:hover {
		background-color: #F3EEEE;
	}
}

.btn-blue {
	@extend .btn;
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;	

	&:hover {
		background-color: #2F6CB2;
	}	
}

.btn-red {
	@extend .btn;
	color: #ffffff;
	background-color: #E93636;
	border-color: #CB2222;	

	&:hover {
		background-color: #EC1414;
	}	
}

.btn-green {
	@extend .btn;
	color: #ffffff;
	background-color: #449d44;
	border-color: #3c763d;	

	&:hover {
		background-color: #398439;
	}	
}

.btn-lg {
	@extend .btn;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

/************** ALERT **************/

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-success {
	@extend .alert;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-info {
	@extend .alert;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-warning {
	@extend .alert;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-danger {
	@extend .alert;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}


/************** HEADER **************/

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eeeeee;
}

/************** JUMBOTRON **************/

.jumbotron {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 18px;
	background-color: #eeeeee;

}