p {
	padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 10px;
}

small, .sub {
	color: gray;
	font-size: 50%;
}

ins {
	text-decoration: underline;
	font-style: italic;
}

mark {
	background-color:yellow;
	font-style:italic;
	font-weight:bold;
}

abbr {
	border-bottom:1px dotted;
	cursor:help;
}

del {
	text-decoration: line-through;
}

u {
	text-decoration: underline;
}

strong {
	font-style: bold;
}